@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body
{
    background: rgb(0,0,0);
    background-color: 28282B;
    height: 100vh;
}
#container
{
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url('./saddoge.png'),  #e1c699;
    box-shadow: 0 15px 30px rgba(0,0,0,.5);
}

#container .content
{
    max-width: 600px;
    text-align: center
}
#container .content h2
{
   font-size: 18vw; 
   color: #fff;
   line-height: 1em;
}
/*Disable Scrollbar*/
{
overflow-y: hidden;
overflow-x: hidden;}
#container .content h4
{
    position: relative;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #111;
    background: #fff;
    font-weight: 300;
    padding: 10px 20px;
    display: inline-block;
}
#container .content p
{
    color: #fff;
    font-size: 1.2em;
}
#container .content a
{
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    background: #28282B;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
    border-radius: 25px;
    border-bottom: 4px solid #ffffff;

}
